@model List<EntityLayer.Concrete.ProductCategory>
@{
    ViewData["Title"] = "Index";
}

<div class="card my-4">
    <div class="card-header pb-0 p-3">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <h6 class="mb-0">Product Category</h6>
            </div>
            <div class="col-6 text-end">
                <a href="/ProductCategory/Add" class="btn btn-sm btn-outline-success mb-0">New</a>
            </div>
        </div>
    </div>

    <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Status
                            </td>
                            <td class="align-middle">
                                <a href="/ProductCategory/Edit/@item.ProductCategoryId" class="btn btn-sm btn-outline-warning">Edit</a>
                                <a href="/ProductCategory/Remove/@item.ProductCategoryId" class="btn btn-sm btn-outline-danger">Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
